html, body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #0A1929 !important;
  height: 100%;
}

.navbar {
  background-color: #0A1929;
  border-bottom: solid 2px #082038;
}


